<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Project 2</title>
</head>
<body>
    
    <nav class="nav nav-pills nav-justified bg-danger">
  <a class="nav-item nav-link active" href="/">Pleague</a>
  <a class="nav-item nav-link" href="/lakers">Lakers</a>
  <a class="nav-item nav-link" href="/hawks">Hawks</a>
  <a class="nav-item nav-link" href="/spurs">Spurs</a>
  <a class="nav-item nav-link" href="/knicks">Knicks</a>

</nav>

    {{{body}}}
</body>
</html>